.bienvenida {
  display: flex;
  top : 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   width: 100%;
  height: 760px;
  background-color: #EDE5D6;
  color: #000;
  padding: 50px;
  box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;


}

.contenedor {
  width: 9vw;
  height: 14vw;
  min-width: 60px;
  min-height: 60px;
  max-width: 120px;
  max-height: 120px;
  background: #EDE5D6;
  position: absolute;
  left: 50vw;
  top: 5vh;
  transform: translate(-50%, 0);
  z-index: 0;
  background-image: url('../src/assets/logo2.png');
  background-size: cover;
  background-position: center;
}

.elipse {
  width: 18vw;
  height: 18vw;
  min-width: 120px;
  min-height: 120px;
  max-width: 300px;
  max-height: 300px;
  background: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 7vh;
  left: 5vw;
  z-index: 0;
}
.elipse2 {
  width: 18vw;
  height: 18vw;
  min-width: 120px;
  min-height: 120px;
  max-width: 300px;
  max-height: 300px;
  background: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 55vh;
  left: 75vw;
  z-index: 0;
}

.elipse3 {
  width: 25vw;
  height: 25vw;
  min-width: 180px;
  min-height: 180px;
  max-width: 400px;
  max-height: 400px;
  background: #ffffff;
  border-radius: 0 0 0 100%;
  position: absolute;
  top: -5vh;
  left: 85vw;
  z-index: 0;
}


.contenido {
  position: relative;
  z-index: 00, 1;
  
  
}
.elipse1 {
  width: 18vw;
  height: 18vw;
  min-width: 120px;
  min-height: 120px;
  max-width: 300px;
  max-height: 300px;
  background: #ffffff;
  border-radius: 0 100% 0 0;
  position: absolute;
  top: 70vh;
  left: 0;
  z-index: 0;
}




.titulo {
  text-align: top 40px;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: top center;
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
   width: 562px;
  height: 50px;
  color: #1d6c83;
}

.texto {
  font-size: 24px;
  text-align: center;
  top: 500px;
  max-width: 900px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-family: 'Times New Roman', Times, serif;
   width: 738px;
   color: #1D6C83;
  height: 150px;
  

}

.boton {
  background-color: #ffffff48;
  padding-top: 650px;
  color: #000000;
  box-shadow:0 5px 8px #00000028;
  padding: 10px 20px;
  border: none;
  margin-bottom: 50px;
  border-radius: 45px;
  cursor: pointer;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  transition: background-color 0.56s ease;
   cursor: pointer;
}

.boton:hover {
  background-color: #1D6C83;
  color: rgb(255, 255, 255);
}
