body {
    background-color: #EDE5D6;
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}

.Login2 {
     background-color: #F8F8F2;
    padding:25px;
     font-family:'Times New Roman', Times, serif;
    border-radius: 30px;
    box-shadow: 0 5px  10px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 250px;
    margin: 100px auto;
    text-align: center;
}

.logo {
    padding: 40px 40px;
    background-position: 200px center;
}



.Inicio{
    text-align: center;
    margin-bottom: 45px;
    color: #1E6C83;
     font-family:'Times New Roman', Times, serif;
}


.Nombre,
.Contraseña {
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
     font-family:'Times New Roman', Times, serif;
}

.Registrarse {
    background-color: #EDE5D6;
    color: #080601;
    margin: auto;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
     font-family:'Times New Roman', Times, serif;
    transition: background-color 0.3s ease;
}

.Registrarse:hover {
    background-color: #ff0a0a;
}



input[type="text"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
     font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    box-shadow: 0 0 5px #0000003b;
    outline: none;
}


.Boton {
    background-color: #2eb9d1;
    color: #EDE5D6;
    border: none;
    box-shadow:0 5 8px #0000005e;
    margin-bottom: 60px;
    text-align: center;
    border-radius: 10px;
     font-family:'Times New Roman', Times, serif;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Boton:hover {
    background-color: #f10014;
}


.Titulo,
.Texto {
    background-color: #EDE5D6;
}
