body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
.Login {
    background-color: #3395a7;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-left: 0;      /* Elimina el margen negativo */
    margin-right: auto;  /* Empuja el bloque hacia la izquierda */
    margin-left: 0;      /* Asegura que esté alineado a la izquierda */
}

.logo {
    padding: 40px 40px;
    background-position: 200px center;
}

/* .contenido {
    width: 177px;
    height: 177px;
    background: #ffffff;
    border-radius: 100%;
    position: absolute;
 
    left: 50px;
    z-index: 0;
    background-color: #f10014;

} */

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1bdbc2;
}


.Nombre,
.Contraseña {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Registrarse {
    background-color: #2eb9d1;
    color: #EDE5D6;
    border: none;
    border-radius: 10px;

    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Registrarse:hover {
    background-color: #ff0a0a;
}



input[type="text"],
input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    box-shadow: 0 0 5px #1bdbc2;
    outline: none;
}


.Boton {
    background-color: #2eb9d1;
    color: #EDE5D6;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Boton:hover {
    background-color: #f10014;
}


.Titulo,
.Texto {
    background-color: #EDE5D6;
}